extends layout

block content
  .w3-container
    h1 Base de Filmes
    ul.w3-ul
      li
        a(href="http://localhost:3004/filmes") Listar Filmes
      li
        a(href="http://localhost:3004/filmes/inserir") Inserir Filme