doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/new_pub.js')
  body
    block content
